<div class="estilo-if">
    <h3>Importei o selector como uma tag no app.component</h3>
    <div class="infos-importantes">
        <p>Importante ressaltar que todo componente gerado tem: </p>
        <ul>
            <li>Um arquivo html</li>
            <li>Um arquivo css</li>
            <li>Um arquivo typescript</li>
            <li>Um arquivo typescript para experimentos</li>
        </ul>
        
    </div>
    <div class="infos-importantes">
        <h2>Teste agora com a transferencia de dados:</h2>
        <h3>Nome: {{nome}}</h3>
        <h3>Idade: {{idade}}</h3>
        <h3>Competencias: {{competencias.linguagem3}}</h3>
    </div>
</div>
